<div class="input-report dropdown-input">
	<%= select_tag "question[#{@question_id}]",options_from_collection_for_select(@countries,"id","name"),{:class => "require-field",:include_blank => true , :tabindex => @tab_index}%>
	<i class="fa fa-chevron-down"></i>
</div>	
