<%= email_field_tag "question[#{@question_id}]","",:placeholder=>@question_placeholder ,:require=>true,:class=>" require-field input-report text-input email-field" , :tabindex => @tab_index , :pattern => "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" %>

<div class="error-wrapper">
	<span class="error-message"> <%= t(:wrong_email) %> </span>
</div>
