<div class="input-report dropdown-input">
	<%= select_tag "question[#{@question_id}]",options_from_collection_for_select(@languages.order("name ASC"),"id","name"),{:class => "require-field select2", :include_blank => false, prompt: t(:select), :tabindex => @tab_index }%>
	<i class="fa fa-chevron-down"></i>
</div>