<% showMultiOptionsAnswers(@submission.question_answer.question.id,@submission.id) %>
<% @question_answers.each do |option| %>
	<ul>
		<% if option.other_option_answer %>
			<li><%=option.other_option_answer%></li>
		<% end %>
		<% if option.question_option %>
			<li><%=option.question_option.option_title %></li>
		<% end %>
	</ul>
<% end %>