<div class="btn btn-report upload-file">
	<label> <%= t(:choose_file) %> </label>
	<%= file_field_tag "question[#{@question_id}]",:require=>true ,:class=>"require-field", :tabindex => @tab_index  %>
</div>

<span class="uploaded-filename"> <%= t(:wrong_image) %> </span>
