<table width="100%" cellspacing="2">
  <tr>
    <th style="text-align:left; font-weight:bold;">Registered at</th>
    <th style="text-align:left; font-weight:bold;">Question</th>
    <th style="text-align:left; font-weight:bold;">Answer</th>
    <th style="text-align:left; font-weight:bold;">Order</th>
  </tr>
  <% @faqs.each do |excel| %>
    <tr>
      <td style="text-align:left;"><%= excel.created_at.to_date %></td>
      <td style="text-align:left;"><%= excel.question %></td>
      <td style="text-align:left;"><%= excel.answer %></td>
      <td style="text-align:left;"><%= excel.theorder %></td>
    </tr>
  <% end %>

</table>