MYSQL_ROOT_PASSWORD=some_password
MYSQL_DATABASE=eff_oc
DB_USERNAME=root
DB_HOST=db
DB_PASSWORD=some_password
# Set to true to run `rake db:migrate` every time the container starts
DB_MIGRATE=false

SMTP_DOMAIN=  # eg. onlinecensorship.org
SMTP_FROM=  # eg. info@onlinecensorship.org
SMTP_ADDRESS=
SMTP_AUTHENTICATION=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_ENABLE_STARTTLS_AUTO=
SMTP_PORT=
