<%
  meta title: t(:submit_report)
%>

<% cms_page_content('submit-report') %>

<section class="dark-blue-bg page-title-wrapper">
  <% unless @page.nil? %>
    <div class="container">
      <h1> <%= @page.page_title %>  </h1>
			<div class="row">
				<div class="col-md-7">
				  <p> <%= @page.brief %> </p>
				</div>
			</div>
			<div class="start-survey">
				<%= link_to t(:get_started), submit_report_show_path, :class => "btn btn-white" %>
			</div>
    </div>
  <% end %>
</section>

<div class="container submit-page">

  <% unless @page.nil? %>
    <%= @page.content.html_safe %>
  <% end %>

</div>
