<% meta title: "Confirmed" %>

<section class="page-title-wrapper">
  <div class="container">
    <h1>Report Confirmed</h1>
    <p>
      Thank you for confirming your report.
    </p>
  </div>
</section>
