<% meta title: 'Report Submitted' %>

<section class="page-title-wrapper">
  <div class="container">
    <h1>Report submitted</h1>
    <p>
      Thank you for submitting your report. We aren't able to get back to 
      everyone, but the information you've provided us will help us in our 
      ongoing <%= link_to 'research', posts_path %>. </p>
  </div>
</section>
