<section class="dotted-bg intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <% if locale == :en %>
          <h3 class="cd-headline letters type">
            <span> Has your</span>
            <span class="cd-words-wrapper">
              <b class="is-visible" style="opacity: 1;"><i class="in">a</i><i class="out">c</i><i class="out">c</i><i class="out">o</i><i class="out">u</i><i class="out">n</i><i class="out">t</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i></b>
              <b class="is-hidden" style="opacity: 1;"><i class="out">p</i><i class="out">o</i><i class="out">s</i><i class="out">t</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i></b>
              <b class="is-hidden" style="opacity: 1;"><i class="out">p</i><i class="out">h</i><i class="out">o</i><i class="out">t</i><i class="out">o</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i></b>
              <b class="is-hidden" style="opacity: 1;"><i class="out">l</i><i class="out">i</i><i class="out">n</i><i class="out">k</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i></b>
              <b class="is-hidden" style="opacity: 1;"><i class="out">c</i><i class="out">a</i><i class="out">m</i><i class="out">p</i><i class="out">a</i><i class="out">i</i><i class="out">g</i><i class="out">n</i><i class="out">/</i><i class="out">/</i><i class="out">/</i></b>
            </span>
          </h3><h3 class="cd-headline letters type">
            <span>been</span>
            <span class="cd-words-wrapper">
              <b class="is-visible" style="opacity: 1;"><i class="in">s</i><i class="out">u</i><i class="out">s</i><i class="out">p</i><i class="out">e</i><i class="out">n</i><i class="out">d</i><i class="out">e</i><i class="out">d</i><i class="out">?</i><i class="out">/</i></b>
              <b class="is-hidden" style="opacity: 1;"><i class="out">c</i><i class="out">e</i><i class="out">n</i><i class="out">s</i><i class="out">o</i><i class="out">r</i><i class="out">e</i><i class="out">d</i><i class="out">?</i><i class="out">/</i><i class="out">/</i></b>
              <b class="is-hidden" style="opacity: 1;"><i class="out">t</i><i class="out">a</i><i class="out">k</i><i class="out">e</i><i class="out">n</i><i class="out"> </i><i class="out">d</i><i class="out">o</i><i class="out">w</i><i class="out">n</i><i class="out">?</i></b>
              <b class="is-hidden" style="opacity: 1;"><i class="out">r</i><i class="out">e</i><i class="out">m</i><i class="out">o</i><i class="out">v</i><i class="out">e</i><i class="out">d</i><i class="out">?</i><i class="out">/</i><i class="out">/</i><i class="out">/</i></b>
              <b class="is-hidden" style="opacity: 1;"><i class="out">b</i><i class="out">a</i><i class="out">n</i><i class="out">n</i><i class="out">e</i><i class="out">d</i><i class="out">?</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i></b>
            </span>
          </h3>
        <% elsif locale == :ar %>
          <h3> هل تم <span class="dark-blue-bg"> حجب </span> </h3>
          <h3><span class="dark-blue-bg"> تدوينتك؟ </span></h3>
        <% else %>
          <h3 class="cd-headline letters type">
            <span> ¿Tu </span>
            <span class="cd-words-wrapper">
              <b class="is-visible" style="opacity: 1;"><i class="in">c</i><i class="out">u</i><i class="out">e</i><i class="out">n</i><i class="out">t</i><i class="out">a</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i></b>
              <b class="is-hidden" style="opacity: 1;"><i class="out">p</i><i class="out">o</i><i class="out">s</i><i class="out">t</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i></b>
              <b class="is-hidden" style="opacity: 1;"><i class="out">f</i><i class="out">o</i><i class="out">t</i><i class="out">o</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i></b>
              <b class="is-hidden" style="opacity: 1;"><i class="out">e</i><i class="out">n</i><i class="out">l</i><i class="out">a</i><i class="out">c</i><i class="out">e</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i></b>
              <b class="is-hidden" style="opacity: 1;"><i class="out">c</i><i class="out">a</i><i class="out">m</i><i class="out">p</i><i class="out">a</i><i class="out">ñ</i><i class="out">a</i><i class="out">/</i><i class="out">/</i><i class="out">/</i><i class="out">/</i></b>
            </span>
          </h3><h3 class="cd-headline letters type">
            <span> ha sido </span>
            <span class="cd-words-wrapper">
              <b class="is-visible" style="opacity: 1;"><i class="in">s</i><i class="out">u</i><i class="out">s</i><i class="out">p</i><i class="out">e</i><i class="out">n</i><i class="out">d</i><i class="out">i</i><i class="out">d</i><i class="out">a</i><i class="out">?</i><i class="out">/</i></b>
              <b class="is-hidden" style="opacity: 1;"><i class="out">c</i><i class="out">e</i><i class="out">n</i><i class="out">s</i><i class="out">u</i><i class="out">r</i><i class="out">a</i><i class="out">d</i><i class="out">o</i><i class="out">?</i><i class="out">/</i></b>
              <b class="is-hidden" style="opacity: 1;"><i class="out">r</i><i class="out">e</i><i class="out">t</i><i class="out">i</i><i class="out">r</i><i class="out">a</i><i class="out">d</i><i class="out">a</i><i class="out">?</i><i class="out">/</i><i class="out">/</i></b>
              <b class="is-hidden" style="opacity: 1;"><i class="out">r</i><i class="out">e</i><i class="out">m</i><i class="out">o</i><i class="out">v</i><i class="out">i</i><i class="out">d</i><i class="out">o</i><i class="out">?</i><i class="out">/</i><i class="out">/</i></b>
              <b class="is-hidden" style="opacity: 1;"><i class="out">p</i><i class="out">r</i><i class="out">o</i><i class="out">h</i><i class="out">i</i><i class="out">b</i><i class="out">i</i><i class="out">d</i><i class="out">a</i><i class="out">?</i><i class="out">/</i></b>
            </span>
          </h3>
        <% end %>

        <div class="row">
          <p class="col-md-9">
            <%=@home_fields.slogan%>
          </p>
        </div>
      </div>
      <div class="col-md-4 action">
      </div>
    </div>
  </div>
</section>

