<div class="content-box-large col-md-4 permission-box">
  <div class="panel-heading">
    <div class="panel-title col-md-12">
      <i class="fa fa-exclamation-triangle"></i>
        <%= t('need_login') %>
        <br /><br />
        <%= link_to "Log in", new_user_session_path, :class => "btn btn-primary" %>
    </div><!--panel-title-->
  </div><!--panel-heading-->
</div><!--content-box-large-->