<!DOCTYPE html>
<html>
<head>
  <title>Online Censorship</title>
  <style>
  .not-found {
    margin:auto;
    width:390px;
  }
  .not-found a {
    position:absolute;
    top:30%;
    text-decoration: none;
    color:#000;
  }
  </style>
</head>
<body>
  <div class="not-found">
    <a href="../" title="ONLINE CENSORSHIP">
      ONLINE CENSORSHIP ERROR PAGE
    </a>
  </div>
</body>
</html>