<div class="container submit-page">

	<div class="white-box">
		<h2> We’re offline for a few days to transition to a new, simpler survey format. The new survey will be available by November 24. In the meantime, you can <%= link_to "contact us", contacts_path %> with questions. Thank you for your patience! </h2>
		<br/>
	</div>

</div>
