<div class="col-md-12 col-sm-7 col-xs-12 no-padding">
  <div class="content-box-large">
    <div class="panel-heading">
      <div class="panel-title">
        <i class="fa fa-pencil-square-o"></i>Select questions to slider page
        <% if params[:social_media_platform]%>
          for the platform <%=@social_media_platform.title %>
        <% end%>
      </div>
    </div><!--panel-heading-->
    <div class="panel-body">
      <%= render 'form' %>
    </div><!--panel-body-->
  </div><!--content-box-large-->
</div><!--col-md-12-->