######################
# 3rd Party Settings #
######################

# Grants rails access to bitbucket, where paperclip should be set to upload and link to
attachment_storage: 'file'  # Choose 's3' for amazon hosting or 'file' for storage on filesystem
aws_access_key_id: ''
aws_secret_access_key: ''
aws_region: 'us-west-1'
aws_bucket: 'onlinecensorship'

# Modify the below line to use sentury for error logs
# sentry_dsn: 'https://...'


#################
# Mail Settings #
#################

smtp_username: ''
smtp_password: ''
smtp_address: ''
smtp_port: "25"
smtp_domain: "onlinecensorship.org"
smtp_authentication: 'login'
smtp_enable_starttls_auto: "true"
mailings_from: 'Online Censorship <no-reply@onlinecensorship.org>' # not used


#######################
# Typical Rails Stuff #
#######################

admin_user: '' # email
admin_pass: ''
secret_key_base: ''   # generate these secrets with `rake secret`
devise_secret_key: '' 
time_zone: 'Pacific Time (US & Canada)' # not used
