<div class="col-md-12 col-sm-7 col-xs-12 no-padding">
  <div class="content-box-large">
    <div class="panel-heading">
      <div class="panel-title">
        <i class="fa fa-pencil-square-o"></i>Editing story
      </div>
    </div><!--panel-heading-->
    <div class="panel-body">
      <%= render 'form' %>
      <br />
      <%= link_to 'Show', @story %> |
      <%= link_to 'All stories', admin_stories_path %>
    </div><!--panel-body-->
  </div><!--content-box-large-->
</div><!--col-md-12-->