<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear,</h1>
    <p>
      To confirm your email address click this <a href="<%=@domain%>/subscribe_confirmation?token=<%=@token%>" target="_blank">link</a>

    <p>Regards,</p>

    <p>
      Online censorship
    </p>
  </body>
</html>