<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear,</h1>
    <p>
    Please click the following link to <a href="<%=@domain%>/subscribe_confirmation?token=<%=@token%>" target="_blank">confirm</a>
    your email subscription.

    <p>Thanks,</p>
    <p>The <a href="<%= @domain %>">Onlinecensorship.org</a> Team</p>
  </body>
</html>
