<div class="col-md-12 col-sm-7 col-xs-12 no-padding">
  <div class="content-box-large">
    <div class="panel-heading">
      <div class="panel-title">
        <i class="fa fa-pencil-square-o"></i>Edit Web Page
      </div>
    </div><!--panel-heading-->
    <div class="panel-body">
      <%= render 'form' %>
      <br>
      <%= link_to 'All Web Pages', web_pages_path %> | 
      <%= link_to 'Show', @web_page %>
    </div><!--panel-body-->
  </div><!--content-box-large-->
</div><!--col-md-12-->