$pastel-blue: #b3dfe6;
$light-blue: #81C7D5;
$medium-blue: #4ab2c3;
$dark-blue: #152f4e;

$light-gray: #f6f6f6;
$gray: #dddddd;
$dark-gray: #aaaaaa;
$charcoal: #707070;

$link-blue: #2F818E;
$light-link: $light-blue;
$header-blue: #087F91;
